:root {
  --mildyellow:#f2c041;
  --black:#080600;
}

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #6d77e8;
  min-height: calc(100vh-100px);
  margin: 50px;
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--mildyellow);
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 150px 150px 150px;
  grid-template-areas:
  "sidebar-1 content sidebar-2"
  "sidebar-1 content sidebar-2"
  "footer footer footer"
}

.item1 {
  grid-area: sidebar-1;
}

.item2 {
  grid-area: content;
}

.item3 {
  grid-area: sidebar-2;
}

.footer {
  grid-area: footer;
}

@media(max-width:700px){
  .container {
    grid-template-areas:
    "content content content"
    "sidebar-1 sidebar-1 sidebar-2"
    "footer footer footer"
  }
}
