/* The below complete structure is called as RuleSet
    P is a selector
    color is a property
    green is a value
    color: green is a declaration
*/

/* Universal Selectors - '*' - Not used much */
/* * {
    font-family: 'Courier New', Courier, monospace;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid green;
    background-color: #ACC8E5;
    color: #472121;
}

p {
    /* Transaparency */
    /* color: rgba(0, 0, 255, 1); */
    /* color: #000000; */
    /* color: #000; - Short Form */
    /* color: #00FF00; */
    color: #112A46;
}


/* .gray {
    color: gray;
    font-style: oblique;
} */

/* Avoid using the ID selectors */
/* #second {
    color: palevioletred;
} */

/* h1, h2 {
    color: blueviolet;
} */

/* Its not good practice */
p span {
    color: darkgreen;
    font-weight: bold;
}

.highlight {
    font-family: 'Courier New', Courier, monospace;
}

button, input, textarea {
    font: inherit;
}