@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
 --primary: #2EFEF7;
 --secondary: #4000FF;

}

body, a, ul, li, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik';
}

li {
  list-style-type: none;
}

body {
  background: var(--secondary);
  overflow-x: hidden;
}

.img-tool{
  width: 100px;
  height: 100px;
}

.img-scl{
  width: 40px;
  height: 40px;
}

.hilite {
  color: #DF01D7;
  font-weight: bold;
}
.wrk-btn , .snd-btn {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-weight: bolder;
}

.wrk-btn:hover, .snd-btn:hover {
  color: #071914;
  background: var(--primary);
}

input, textarea {
  background: (255, 255, 255, 0.5);
  padding: 10px 16px;
  border-radius: 12px;
  border: 2px solid #9893D8;
  color: #f2f2f2;
}

#greeting, #skillset, footer {
  background: #f2f2f2;
  color: #01DFD7;
}

nav, #portfolio, #contactus {
  color: #00FFBF;
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1.5rem;
}

h1, h3 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

.leading {
  font-size: 1.0rem;
}

#greeting p, #skillset li, #skillset p, footer p {
  color: #4000FF;
}

#contactus p, #portfolio a, nav li, nav a {
  color: #00FFBF;
  font-weight: 1.0rem;
  line-height: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.nav-site {
    margin: 0 20px;
}

.nav-site ul {
  display: none;
}

.nav-site h1 {
  grid-column: 1/4;
}

#greeting {
  padding: 0 20px 20px 20px;
}

.greeting-text {
  grid-column: 1/6;
}

.greeting-text h2 {
  color: #4000FF;
}
.greeting-img {
  grid-column: 6/9;
}

.greet {
  height: 400px;
  width: 400px;
}

.img-project {
  height: 275px;
  width: 275px;
}

.greeting-text a {
  margin: 20px 0;
}

#portfolio h3 {
  margin-bottom: 0;
  text-align: center;
}

.projects a {
  grid-column: 1/10;
  margin: 20px 0;
  display: flex;
}

.projects a img, .projects a h4 {
  margin: 0 20px;
  min-width: 40%;
  align-self: center;
}

#skillset {
  padding: 30px 20px;
}

#skillset h3 {
text-align: center;
color: #4000FF;
}

#skillset ul {
  margin: 40px 0;
}

#skillset li {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  grid-column: span 2;
  text-align: center;
}

#skillset img {
  height: 100px;
  margin: 10px auto;
}

#contactus {
  margin: 30px 20px;
}

#contactus h3, #contactus p {
  margin-bottom: 0;
  text-align: center;
}

#contactus form {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#contactus input, #contactus textarea {
  width: 100%;
  margin: 10px 0;
  background: #9F81F7;
  !--background: #BCA9F5;
  font-family: 'Rubik';
}

footer .cpy-rgt {
  grid-column: 4/8;
  font-size: 0.9rem;
  text-align: center;
  margin: 10px;
}

footer .social {
  grid-column: 8/10;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin: 0 5px;
}

@media screen and (min-width: 960px) {

body {
  font-size: 18px;
}

.greeting-img {
  margin: 5px;
  width: 100%;
}

.grid {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.leading {
  margin: 20px 0;
}

.nav-site {
  padding: 0 20px;
}

.nav-site h1 {
  grid-column: 1/3;
}

.nav-site ul {
  display: flex;
  grid-column: 7/10;
  justify-content: flex-end;
  align-items: center;
}

.nav-site li {
  margin-left: 30px;
}

.greeting-text {
  grid-column: 1/5;
  align-self: center;
}

#greeting {
  padding-bottom: 40px;
}

.projects a {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projects a:last-child {
  grid-column: 4/8;
}

.projects h4{
  text-align: center;
}
}

@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }

  .grid {
    max-width: 100%;
  }
}
